<!-- <app-navbar></app-navbar> -->

<div id="parentDiv" [ngStyle]="{'color':textColor}">

  <!-- <div>
      <h3 *ngIf="loading" id="loading">Meeting creation in progress....</h3>
    </div> -->



  <div id="eventDeets" [ngStyle]="{'background-color': backGroundcolor}">
    <div class="powered-by-badge" *ngIf="cloduraBrandingReq">
      <div id="poweredBy">Powered by <div id="clodura">Clodura.AI</div> </div>
  </div>
    <!-- <div id="greyStrip">
            <p>This is a preview. </p>
            <p>To book an event, share a link with your invitees.</p>
          </div> -->
    <div id="belowGreyStrip">
      <p>{{loggedInName}}</p>
      <p>{{evName || "Event name here"}}</p>
      <div id="avatarDiv" *ngIf="image">
        <img *ngIf="image" [src]="avatar" alt="img">
      </div>

      <div id="timeAndLocation"  [ngStyle]="{'color':textColor}">
        <div>
          <ng-icon name="bootstrapClock"></ng-icon>
          <span *ngIf="evDurHrs!=0">{{evDurHrs}}</span><span *ngIf="evDurHrs!=0"> hrs &nbsp; <!--  for space --></span>
          
          <span *ngIf="evDurMins!=0">{{evDurMins}} </span> <span *ngIf="evDurMins!=0"> mins </span>
          <!-- <p>{{"" || "15 mins"}}</p> -->
        </div>
        <div>
          <ng-icon name="octLocation"></ng-icon>
          <span id="locationP">{{"Google Meet" || "Add a location for it to show here"}}</span>
        </div>
      </div>
      <hr>
    </div>


    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="!formattedMeetingsHide.length" id="waitDiv">
      <h3>Please Wait...</h3>
    </div>

    <div id="divForCalendarAndTime">

      <!-- ===================================================================================================== -->
      <!-- <div>
        Month Selector
        <span matTooltip="Select Month" [matTooltipPosition]="'below'" [matMenuTriggerFor]="monthMenu">{{ selectedMonth }}</span>
        <mat-menu #monthMenu="matMenu">
          <button mat-menu-item *ngFor="let month of months" (click)="selectMonth(month)">
            {{ month }}
          </button>
        </mat-menu>
      
        Year Selector
        <span matTooltip="Select Year" [matTooltipPosition]="'below'" [matMenuTriggerFor]="yearMenu">{{ selectedYear }}</span>
        <mat-menu #yearMenu="matMenu">
          <button mat-menu-item *ngFor="let year of years" (click)="selectYear(year)">
            {{ year }}
          </button>
        </mat-menu>
      </div> -->
      <!-- ===================================================================================================== -->




      <div id="divForCalendar">
        <full-calendar id="calendar" defaultView="dayGridMonth" *ngIf="formattedMeetingsHide.length > 0"
          [options]="calendarOptions" plugins={[dayGridPlugin]}>
        </full-calendar>

        <!-- <div *ngIf="formattedMeetingsHide.length > 0">
          <button *ngIf="showingIn24hr" class="btnToSwitchTime" [ngStyle]="{'background-color': backGroundcolor, 'color':btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}" (click)="changeTimeFormat()">Switch to 12-hour View</button>
          <button *ngIf="!showingIn24hr" class="btnToSwitchTime" [ngStyle]="{'background-color': backGroundcolor, 'color':btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}" (click)="changeTimeFormat()">Switch to 24-hour View</button>
        </div> -->

          <!-- <select *ngIf="formattedMeetingsHide.length > 0" name="timezone" id="timeZones"  (change)="onTimeZoneChange($event)"  [ngStyle]="{'background-color': backGroundcolor, 'color':btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}" value="selectedTimeZone">
            <option value="" disabled selected>{{selectedTimeZone}}</option>
            <option value="Etc/GMT+12">International Date Line West</option>
            <option value="Pacific/Midway">Midway Island, Samoa</option>
            <option value="Pacific/Honolulu">Hawaii</option>
            <option value="US/Alaska">Alaska</option>
            <option value="America/Los_Angeles">Pacific Time (US & Canada)</option>
            <option value="America/Tijuana">Tijuana, Baja California</option>
            <option value="US/Arizona">Arizona</option>
            <option value="America/Chihuahua">Chihuahua, La Paz, Mazatlan</option>
            <option value="US/Mountain">Mountain Time (US & Canada)</option>
            <option value="America/Managua">Central America</option>
            <option value="US/Central">Central Time (US & Canada)</option>
            <option value="America/Mexico_City">Guadalajara, Mexico City, Monterrey</option>
            <option value="Canada/Saskatchewan">Saskatchewan</option>
            <option value="America/Bogota">Bogota, Lima, Quito, Rio Branco</option>
            <option value="US/Eastern">Eastern Time (US & Canada)</option>
            <option value="US/East-Indiana">Indiana (East)</option>
            <option value="Canada/Atlantic">Atlantic Time (Canada)</option>
            <option value="America/Caracas">Caracas, La Paz</option>
            <option value="America/Manaus">Manaus</option>
            <option value="America/Santiago">Santiago</option>
            <option value="Canada/Newfoundland">Newfoundland</option>
            <option value="America/Sao_Paulo">Brasilia</option>
            <option value="America/Argentina/Buenos_Aires">Buenos Aires, Georgetown</option>
            <option value="America/Godthab">Greenland</option>
            <option value="America/Montevideo">Montevideo</option>
            <option value="America/Noronha">Mid-Atlantic</option>
            <option value="Atlantic/Cape_Verde">Cape Verde Is.</option>
            <option value="Atlantic/Azores">Azores</option>
            <option value="Africa/Casablanca">Casablanca, Monrovia, Reykjavik</option>
            <option value="Etc/Greenwich">Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
            <option value="Europe/Amsterdam">Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option value="Europe/Belgrade">Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option value="Europe/Brussels">Brussels, Copenhagen, Madrid, Paris</option>
            <option value="Europe/Sarajevo">Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option value="Africa/Lagos">West Central Africa</option>
            <option value="Asia/Amman">Amman</option>
            <option value="Europe/Athens">Athens, Bucharest, Istanbul</option>
            <option value="Asia/Beirut">Beirut</option>
            <option value="Africa/Cairo">Cairo</option>
            <option value="Africa/Harare">Harare, Pretoria</option>
            <option value="Europe/Helsinki">Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
            <option value="Asia/Jerusalem">Jerusalem</option>
            <option value="Europe/Minsk">Minsk</option>
            <option value="Africa/Windhoek">Windhoek</option>
            <option value="Asia/Kuwait">Kuwait, Riyadh, Baghdad</option>
            <option value="Europe/Moscow">Moscow, St. Petersburg, Volgograd</option>
            <option value="Africa/Nairobi">Nairobi</option>
            <option value="Asia/Tbilisi">Tbilisi</option>
            <option value="Asia/Tehran">Tehran</option>
            <option value="Asia/Muscat">Abu Dhabi, Muscat</option>
            <option value="Asia/Baku">Baku</option>
            <option value="Asia/Yerevan">Yerevan</option>
            <option value="Asia/Kabul">Kabul</option>
            <option value="Asia/Yekaterinburg">Yekaterinburg</option>
            <option value="Asia/Karachi">Islamabad, Karachi, Tashkent</option>
            <option value="Asia/Calcutta">Chennai, Kolkata, Mumbai, New Delhi</option>
            <option value="Asia/Calcutta">Sri Jayawardenapura</option>
            <option value="Asia/Katmandu">Kathmandu</option>
            <option value="Asia/Almaty">Almaty, Novosibirsk</option>
            <option value="Asia/Dhaka">Astana, Dhaka</option>
            <option value="Asia/Rangoon">Yangon (Rangoon)</option>
            <option value="Asia/Bangkok">Bangkok, Hanoi, Jakarta</option>
            <option value="Asia/Krasnoyarsk">Krasnoyarsk</option>
            <option value="Asia/Hong_Kong">Beijing, Chongqing, Hong Kong, Urumqi</option>
            <option value="Asia/Kuala_Lumpur">Kuala Lumpur, Singapore</option>
            <option value="Asia/Irkutsk">Irkutsk, Ulaan Bataar</option>
            <option value="Australia/Perth">Perth</option>
            <option value="Asia/Taipei">Taipei</option>
            <option value="Asia/Tokyo">Osaka, Sapporo, Tokyo</option>
            <option value="Asia/Seoul">Seoul</option>
            <option value="Asia/Yakutsk">Yakutsk</option>
            <option value="Australia/Adelaide">Adelaide</option>
            <option value="Australia/Darwin">Darwin</option>
            <option value="Australia/Brisbane">Brisbane</option>
            <option value="Australia/Canberra">Canberra, Melbourne, Sydney</option>
            <option value="Australia/Hobart">Hobart</option>
            <option value="Pacific/Guam">Guam, Port Moresby</option>
            <option value="Asia/Vladivostok">Vladivostok</option>
            <option value="Asia/Magadan">Magadan, Solomon Is., New Caledonia</option>
            <option value="Pacific/Auckland">Auckland, Wellington</option>
            <option value="Pacific/Fiji">Fiji, Kamchatka, Marshall Is.</option>
            <option value="Pacific/Tongatapu">Nuku'alofa</option>
         </select> -->

      </div>

    

      <div *ngIf="displayTimeDiv" class="timeDiv">
        <!-- <div class="timeDiv"> -->
        <div id="timeLeftDIv">

          <p id="selectedDateP">{{dateSelected}}</p>

          <!-- <button class="confirmEvent" (click)="createEvent(EventName.value)">Confirm Event</button> -->

          <!-- <label for="EventName">Event Name</label> -->
          <!-- <input type="text" id="EventName" name="EventName" #EventName> -->

          <!-- <label for="EventDesc">Event Description</label> -->
          <!-- <input type="text" id="EventDesc" name="EventDesc" #EventDesc> -->

          <div id="times" *ngIf="evType == 'One-on-One'">
            <div *ngFor="let oneTime of userAvailaibleArray; let i = index">
              <button class="oneTime" [ngStyle]="{'background-color': backGroundcolor, 'color':btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}"  (click)="setEventTime(oneTime)"
                [hidden]="showNextFor==oneTime">{{oneTime}}</button>
              <button class="oneTimeHidden" [hidden]="showNextFor!=oneTime">{{oneTime}}</button>
              <button class="nextBtn" [ngStyle]="{'background-color': btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}" [hidden]="showNextFor!=oneTime"
                (click)="nextButton(evName, evDurHrs, evDurMins, oneTime)">Next</button>
            </div>
            <div id="noTimesAv" *ngIf="userAvailaibleArray.length == 0">                        
              <p>No times available on {{dateSelected}}</p>
              <p>Please select another date.</p>
            </div>
          </div>

          <div id="times" *ngIf="evType == 'Group'">
            <div *ngFor="let oneTime of userAvailaibleArray; let i = index">
              <button class="oneTime" [ngStyle]="{'background-color': backGroundcolor, 'color':btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}" (click)="setEventTime(oneTime)"
                [hidden]="showNextFor==oneTime">{{oneTime['time']}}
                <p  id="spotsLeft" *ngIf="displayRemainingSpotsOnBookingPageGrp && oneTime['remainingBookings']==1">{{oneTime['remainingBookings']}} spot left</p>
                <p  id="spotsLeft" *ngIf="displayRemainingSpotsOnBookingPageGrp  && oneTime['remainingBookings']>1">{{oneTime['remainingBookings']}} spots left</p>

              </button>
              <button class="oneTimeHidden" [hidden]="showNextFor!=oneTime">{{oneTime['time']}}</button>
              <button class="nextBtn" [hidden]="showNextFor!=oneTime" [ngStyle]="{'background-color': btnAndLinkColor, 'border': '1px solid ' + btnAndLinkColor}"
                (click)="nextButton(evName, evDurHrs, evDurMins, oneTime['time'])">Next</button>
            </div>
            <div id="noTimesAv" *ngIf="!userAvailaibleArray.length">                        
              <p>No times available on {{dateSelected}}</p>
              <p>Please select another date.</p>
            </div>
          </div>

          <!-- <div id="timeRightDIv">
            <button (click)="changeDisplayTimeDiv()">X</button>
          </div> -->
        </div>
      </div>


      
    </div>

  </div>
</div>