#main {
  margin: auto;
}

#waitBox {
  box-shadow: rgba(34, 35, 36, 0.2) 0px 8px 24px;
  width: 40%;
  padding: 15px;
  margin-top: 130px;
  position: absolute;
  background-color: rgb(243, 239, 239);
  margin-left: 30%;
  border-radius: 10px;
}

#waitBox h2,
#waitBox div {
  margin: 0;
  padding: 0;
}

#content {
  /* background-color: white; */

  width: 90%;
  /* height: 80vh; */
  height: fit-content;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 80px;
  box-shadow: rgba(56, 57, 58, 0.2) 0px 8px 24px;
  display: flex;
}

#leftDiv {
  padding: 30px;
  /* border: 1px solid rgb(231, 231, 231); */
  /* color: #2b2a2a9c; */
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  padding-right: 10%;
}

#backButton {
  border-radius: 50%;
  /* background-color: white; */
  border: 1px solid rgb(233, 231, 231);
  margin-bottom: 20px;
  color: white
}

#backButton ng-icon {
  /* font-weight: bold; */
  color: #1671fb;
}

#eventName {
  /* color: #1a1a1a; */
  font-size: 25px;
}

ng-icon {
  display: inline;
  margin-right: 5px;
  font-size: 25px;
}

#rightDiv {
  padding: 30px;
  font-size: 14px;
}

input {
  /* background-color: red; */
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(173, 172, 172);
  width: 100%;
  margin-bottom: 10px;
}

form>button {
  display: block;
  margin-top: 10px;
  border-radius: 50px;
  color : white
}

#addGuests {
  /* border: 1px solid #1671fb; */
  padding: 5px 10px;
  /* color: #1671fb; */
  /* background-color: white; */
  border-radius: 15px;
  margin-top: 5px;
  color: white
}

#scheduleEvent {
  padding: 10px 15px;
  /* background-color: #1671fb; */
  border: none;
  color: white;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

form label {
  font-weight: bold;
  margin: 13px 0 13px 0;
}

.warning {
  margin: 5px 0px;
  color: #cf6868;
}

#addGuestsDiv{
  margin-bottom : 5px
}

.question {
  font-weight: bold;
}

#loadingDiv{
  z-index: 1;
  margin: auto;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 10px 20px 10px;
  background-color: rgb(241, 237, 237);
  font-size: 18px;
}
#loadingDiv p{
  margin: 0;
  padding: 0;
}




@media (max-width: 780px) {
  #content {
    display: block;
    height: 100%;

  }

  #leftDiv {
    width: 100%;
  }
}